// component css goes here
$bg-image: url("/assets/images/icons_set.svg");
$bg-size:  625px 250px;

::ng-deep .ngx-file-drop__content {
  position: absolute;
  height: unset !important;
}
::ng-deep .ngx-file-drop__drop-zone {
  border: unset !important;
  width: 356px;
  height: 358px !important;
}

::ng-deep tui-stepper{
  @apply relative;
  top: 480px;
  height: 60px;
  button * {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  button:nth-child(1){
    @apply mr-auto;
    @apply ml-10
  }
  button:nth-child(2){
    @apply mx-auto;
  }
  button:nth-child(3){
    @apply ml-auto;
    @apply mr-6
  }
}

// [data-tui-host-size='l'][_nghost-mba-c143] {
//   height: var(--tui-height-l);
//   min-height: var(--tui-height-l);
//   max-height: var(--tui-height-l);
//   font-size: 15px;
// }

.e2_22{
  background-image: $bg-image;
  background-size: $bg-size;
  background-position-x: 0px;
  background-position-y: 0px;
  width: 312.5px;
  left: 21px;
}

.donate{
  width: 100%;
  height: 100%;
}