<!--component html goes here -->
<!--component html goes here -->
<div class="e1_3"></div>
<ngx-file-drop
  class="e2_21"
  dropZoneLabel="Drop files here"
  (onFileDrop)="dropped($event)"
  (onFileOver)="fileOver($event)"
  (onFileLeave)="fileLeave($event)"
  [multiple]="false"
>
  <ng-template
    ngx-file-drop-content-tmp
    let-openFileSelector="openFileSelector"
  >
    <div class="relative cursor-pointer">
      <div class="e1_8 pointer-events-none"></div>
      <div class="e2_22 pointer-events-none"></div>
      <span class="e2_23 pointer-events-none">Drop your files here</span>
      <div class="e2_25">
        <button
          tuiButton
          type="button"
          class="ei2_25_1_15"
          (click)="openFileSelector()"
        >
          Browse
        </button>
      </div>
      <span class="e2_28"> or </span>
      <span class="e1_7 pointer-events-none">UPLOAD YOUR FILES</span>
    </div>
  </ng-template>
</ngx-file-drop>
<ng-container *ngIf="files$ | async as files">
  <div *ngIf="!files || files.length === 0" div class="e1_20">
    <div class="e1_10"></div>
    <div class="e1_21 add-icn"></div>
    <div class="e1_24">
      <span class="e1_22 ellipsis">PLEASE SELECT AT LEAST 1 FILE...</span>
      <div class="e1_23">
        <progress-bar [progress]="100" [color]="'#7f7ed9'"> </progress-bar>
      </div>
    </div>
    <button
      tuiIconButton
      type="button"
      class="e104_1"
      icon="tuiIconCloseLarge"
    ></button>
  </div>
  <div *ngIf="files && files[0]" div class="e1_20">
    <div class="e1_10"></div>
    <div [ngClass]="(files[0].fileName | fileName) + ' e1_21'"></div>
    <div class="e1_24">
      <span class="e1_22 ellipsis">{{ files[0].fileName }}</span>
      <div class="e1_23">
        <progress-bar
          [progress]="(files[0].currentSize / files[0].fileSize) * 100"
          [color]="'#7f7ed9'"
        >
        </progress-bar>
      </div>
    </div>
    <button
      tuiIconButton
      type="button"
      class="e104_1"
      icon="tuiIconCloseLarge"
      (click)="onClose(0)"
    ></button>
  </div>
  <div *ngIf="files && files[1]" class="e1_33">
    <div class="ei1_33_1_10"></div>
    <div [ngClass]="(files[1].fileName | fileName) + ' ei1_33_1_21'"></div>
    <div class="ei1_33_1_24">
      <span class="ei1_33_1_22 ellipsis">{{ files[1].fileName }}</span>
      <div class="ei1_33_1_23">
        <progress-bar
          [progress]="(files[1].currentSize / files[1].fileSize) * 100"
          [color]="'#7f7ed9'"
        >
        </progress-bar>
      </div>
    </div>
    <button
      tuiIconButton
      type="button"
      class="ei1_33_104_1"
      icon="tuiIconCloseLarge"
      (click)="onClose(1)"
    ></button>
  </div>
  <div *ngIf="files && files[2]" class="e1_42">
    <div class="ei1_42_1_10"></div>
    <div [ngClass]="(files[2].fileName | fileName) + ' ei1_42_1_21'"></div>
    <div class="ei1_42_1_24">
      <span class="ei1_42_1_22 ellipsis">{{ files[2].fileName }}</span>
      <div class="ei1_42_1_23">
        <progress-bar
          [progress]="(files[2].currentSize / files[2].fileSize) * 100"
          [color]="'#7f7ed9'"
        >
        </progress-bar>
      </div>
    </div>
    <button
      tuiIconButton
      type="button"
      class="ei1_42_104_1"
      icon="tuiIconCloseLarge"
      (click)="onClose(2)"
    ></button>
  </div>
</ng-container>
<span class="e1_52 pointer-events-none">ID:</span
><span class="e1_54">{{ accessKey$ | async }}</span
><span class="e103_20">{{ channelId$ | async }}</span
><span class="e1_53 pointer-events-none">KEY:</span>
<tui-stepper
  #stepper
  [activeItemIndex]="currentStep$ | async"
  *ngIf="steps$ | async as steps"
>
  <button
    #step0Enable
    class="block"
    tuiStep
    [state]="steps[0].state"
    (click)="initChanel()"
    [disabled]="steps[0].disable"
    icon="tuiIconTimeLarge"
  >
    <div class="w-16">{{ steps[0].name }}</div>
  </button>
  <button
    #step1Enable
    class="block"
    tuiStep
    [state]="steps[1].state"
    (click)="startSeeding()"
    [disabled]="steps[1].disable"
    icon="tuiIconTimeLarge"
  >
    <div class="w-16">{{ steps[1].name }}</div>
  </button>
  <button
    #step2Enable
    class="block"
    tuiStep
    [state]="steps[2].state"
    [disabled]="steps[2].disable"
    icon="tuiIconTimeLarge"
  >
    <div class="w-16">{{ steps[2].name }}</div>
  </button>
</tui-stepper>
<div *ngIf="showGuide" class="lds-ripple">
  <div></div>
  <div></div>
</div>
