// component css goes here
$bg-image: url("/assets/images/icons_set.svg");
$bg-size:  625px 250px;

::ng-deep .ngx-file-drop__content {
  position: absolute;
  height: unset !important;
}
::ng-deep .ngx-file-drop__drop-zone {
  border: unset !important;
  width: 356px;
  height: 358px !important;
}

::ng-deep tui-stepper {
  @apply relative;
  top: 480px;
  height: 60px;
  button * {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  button:nth-child(1) {
    @apply mr-auto;
    @apply ml-10;
  }
  button:nth-child(2) {
    @apply mx-auto;
  }
  button:nth-child(3) {
    @apply ml-auto;
    @apply mr-6;
  }
}
.e2_22 {
  background-image: $bg-image;
  background-size: $bg-size;
  background-position-x: -375px;
  background-position-y: 0px;
}
.e103_20 {
  top: 396px;
}
.e1_54 {
  top: 435px;
}
