/* You can add global styles to this file, and also import other style files */
@import "~@taiga-ui/core/styles/taiga-ui-local";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$roboto-font: "Roboto";

$bg-image: url("/assets/images/icons_set.svg");
$bg-size: 500px 200px;
body {
  // background-color: #afc2d9;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

* {
  font-family: $roboto-font !important;
}
button:focus-visible,
button:focus {
  outline: none;
}
:root {
  --tui-primary: rgba(
    127.00000002980232,
    126.00000008940697,
    217.0000022649765,
    1
  ) !important;
  --tui-primary-hover: rgba(128, 126, 217, 0.808) !important;
  --tui-text-font: var(roboto-font);
}

.button-ok {
  background-color: #e6950b;
  border-radius: 5px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #b35b09;
  text-align: center;
}
.button-ok:hover {
  background-color: #f1b753;
}
.button-ok:active {
  background-color: #ff7b00;
}

.ellipsis {
  @apply overflow-ellipsis;
  @apply overflow-hidden;
  @apply whitespace-nowrap;
}

.add-icn {
  background-image: $bg-image;
  background-size: $bg-size;
  background-position-x: -250px;
  background-position-y: -100px;
}
.picture-icn {
  background-image: $bg-image;
  background-size: $bg-size;
  background-position-x: -250px;
  background-position-y: -0px;
}
.rar-icn {
  background-image: $bg-image;
  background-size: $bg-size;
  background-position-x: -250px;
  background-position-y: -50px;
}
.doc-icn {
  background-image: $bg-image;
  background-size: $bg-size;
  background-position-x: -250px;
  background-position-y: -150px;
}
