<tui-root>
  <div class="e1_2">
    <div class="e3_20">
      <div class="e1_57 z-10">
        <tui-tabs [(activeItemIndex)]="activeItemIndex">
          <button tuiTab [routerLink]="'/'">
            <tui-svg src="tuiIconUploadLarge" class="tui-space_right-2"></tui-svg>
            SEND
          </button>
          <button tuiTab [routerLink]="'/receiver'">
            <tui-svg src="tuiIconDownloadLarge" class="tui-space_right-2"></tui-svg>
            RECEIVE
          </button>
        </tui-tabs>
      </div>
      <router-outlet></router-outlet>
    </div>
    <span class="e103_61">copyright: www.nhvu95.com</span>
    <div class="e103_63">
      <div class="e103_62">
        <h1>F2F</h1>
      </div>
      <ul class="e103_59">
        <li>1. NO STORE YOUR FILE ON SERVER</li>
        <li>2. SEND DIRECTLY TO YOUR FRIENDS</li>
        <li>3. SECURED YOUR FILE</li>
        <li>4. FREE</li>
      </ul>
    </div>
    <div *ngIf="readyToSend$ | async; else copyDisabled" class="e105_52">
      <button
        tuiIconButton
        appearance="flat"
        icon="tuiIconCopyLarge"
        class="e105_47"
        (click)="copyData()"
      ></button>
      <button
        tuiIconButton
        appearance="flat"
        icon="tuiIconLinkLarge"
        class="e105_60"
        (click)="copyLink()"
      ></button>
    </div>
    <ng-template #copyDisabled>
      <div *ngIf="isSender$ | async" class="e105_52 opacity-50">
        <button
          disabled
          tuiIconButton
          appearance="flat"
          icon="tuiIconCopyLarge"
          class="e105_47"
        ></button>
        <button
          disabled
          tuiIconButton
          appearance="flat"
          icon="tuiIconLinkLarge"
          class="e105_60"
        ></button>
      </div>
    </ng-template>
    <div
      *ngIf="(readyToSend$ | async) && notClickCopy"
      class="lds-ripple lds-ripple2"
    >
      <div></div>
      <div></div>
    </div>
  </div>
</tui-root>
