.e1_2 {
  overflow: hidden;
}
.e1_2 {
  min-width: 1440px;
  min-height: 850px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
.e3_20 {
  width: 1002px;
  height: 559px;
  position: absolute;
  left: 235px;
  top: 232px;
}
.e1_3 {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 1002px;
  height: 559px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
}
.e2_21 {
  width: 356px;
  height: 358px;
  position: absolute;
  left: 38px;
  top: 100px;
}
.e1_8 {
  background-color: #e0e1fb8c;
  width: 356px;
  height: 358px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.e2_22 {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 54.76923751831055px;
  top: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.e2_23 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 254.41189575195312px;
  height: 34.474090576171875px;
  position: absolute;
  left: 51.000003814697266px;
  top: 241.31851196289062px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e2_25 {
  width: 90px;
  height: 35px;
  position: absolute;
  left: 133px;
  top: 302px;
}
.ei2_25_1_15 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    127.00000002980232,
    126.00000008940697,
    217.0000022649765,
    1
  );
  width: 90px !important;
  height: 35px !important;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.i2_25_1_15 {
  border: 1px solid
    rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.e2_28 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 17px;
  height: 21px;
  position: absolute;
  left: 170px;
  top: 266px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e1_7 {
  color: rgba(98.26464995741844, 98.26464995741844, 98.26464995741844, 1);
  width: 282px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: -32px;
  font-family: Roboto;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
}
.e1_20 {
  width: 532px;
  height: 89px;
  position: absolute;
  left: 433px;
  top: 94px;
}
.e1_10 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 532px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.e1_10 {
  border: 1px solid
    rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}
.e1_21 {
  // background-color: rgba(
  //   196.00000351667404,
  //   196.00000351667404,
  //   196.00000351667404,
  //   1
  // );
  width: 50px;
  height: 50px;
  position: absolute;
  left: 9px;
  top: 23px;
  // border-top-left-radius: 13px;
  // border-top-right-radius: 13px;
  // border-bottom-left-radius: 13px;
  // border-bottom-right-radius: 13px;
}
.e1_24 {
  width: 409px;
  height: 41.5333366394043px;
  position: absolute;
  left: 81px;
  top: 23px;
}
.e1_22 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 397.638916015625px;
  height: 25.428569793701172px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e1_23 {
  width: 409px;
  height: 5.9333343505859375px;
  position: absolute;
  left: 0px;
  top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e104_1 {
  width: 20.000003814697266px !important;
  height: 20.0000057220459px !important;
  position: absolute;
  left: 506px;
  top: 16px;
}
.e1_33 {
  width: 532px;
  height: 88px;
  position: absolute;
  left: 433px;
  top: 196px;
}
.ei1_33_1_10 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 532px;
  height: 74.15730285644531px;
  position: absolute;
  left: 0px;
  top: 8.898876190185547px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.i1_33_1_10 {
  border: 1px solid
    rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}
.ei1_33_1_21 {
  // background-color: rgba(
  //   196.00000351667404,
  //   196.00000351667404,
  //   196.00000351667404,
  //   1
  // );
  width: 50px;
  height: 49.43819808959961px;
  position: absolute;
  left: 9px;
  top: 22.741573333740234px;
  // border-top-left-radius: 13px;
  // border-top-right-radius: 13px;
  // border-bottom-left-radius: 13px;
  // border-bottom-right-radius: 13px;
}
.ei1_33_1_24 {
  width: 409px;
  height: 41.06666946411133px;
  position: absolute;
  left: 81px;
  top: 22.741573333740234px;
}
.ei1_33_1_22 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 397.638916015625px;
  height: 25.14285659790039px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.ei1_33_1_23 {
  width: 409px;
  height: 5.866668701171875px;
  position: absolute;
  left: 0px;
  top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ei1_33_104_1 {
  width: 20px !important;
  height: 19.775287628173828px !important;
  position: absolute;
  left: 506px;
  top: 15.82022476196289px;
}
.e1_42 {
  width: 532px;
  height: 89px;
  position: absolute;
  left: 433px;
  top: 298px;
}
.ei1_42_1_10 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 532px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 9px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.i1_42_1_10 {
  border: 1px solid
    rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}
.ei1_42_1_21 {
  // background-color: rgba(
  //   196.00000351667404,
  //   196.00000351667404,
  //   196.00000351667404,
  //   1
  // );
  width: 50px;
  height: 50px;
  position: absolute;
  left: 9px;
  top: 23px;
  // border-top-left-radius: 13px;
  // border-top-right-radius: 13px;
  // border-bottom-left-radius: 13px;
  // border-bottom-right-radius: 13px;
}
.ei1_42_1_24 {
  width: 409px;
  height: 41.5333366394043px;
  position: absolute;
  left: 81px;
  top: 23px;
}
.ei1_42_1_22 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 397.638916015625px;
  height: 25.428569793701172px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.ei1_42_1_23 {
  width: 409px;
  height: 5.9333343505859375px;
  position: absolute;
  left: 0px;
  top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ei1_42_104_1 {
  width: 20.000003814697266px !important;
  height: 20.0000057220459px !important;
  position: absolute;
  left: 506px;
  top: 16px;
}
.e1_52 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 40px;
  height: 18px;
  position: absolute;
  left: 433px;
  top: 409px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e1_54 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 250px;
  height: 18px;
  position: absolute;
  left: 485px;
  top: 434px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e103_20 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 250px;
  height: 21px;
  position: absolute;
  left: 485px;
  top: 409px;
  font-family: Roboto;
  text-align: justified;
  font-size: 18px;
  letter-spacing: 0;
}
.e1_53 {
  color: rgba(98.00000175833702, 98.00000175833702, 98.00000175833702, 1);
  width: 40px;
  height: 18px;
  position: absolute;
  left: 433px;
  top: 434px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e1_57 {
  width: 208px;
  height: 28px;
  position: absolute;
  left: 397px;
  top: 13px;
  line-height: 2rem;
  
  tui-tabs{
    height: 35px;
  }
}
.e103_61 {
  color: rgba(255, 255, 255, 1);
  opacity: 0.699999988079071;
  width: 255px;
  height: 23px;
  position: absolute;
  left: 982px;
  top: 804px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e103_63 {
  opacity: 0.800000011920929;
  width: 685px;
  height: 116px;
  position: absolute;
  left: 377px;
  top: 100px;
}
.e103_62 {
  position: absolute;
  top: 62px;
  h1 {
    font-size: 12em;
    margin: auto;
    line-height: 0;
    font-weight: 600;
    color: white;
  }
}
.e103_59 {
  color: white;
  width: 420.6140441895px;
  height: 117px;
  position: absolute;
  left: 264.3859558105px;
  top: 0px;
  font-family: Roboto;
  text-align: justified;
  font-size: 24px;
  letter-spacing: 0;
  li {
    height: 32px;
    line-height: 1;
  }
}
.e105_52 {
  width: 94.3548355102539px;
  height: 40px;
  position: absolute;
  left: 943px;
  top: 644px;
}
.e105_47 {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  left: 0px;
  top: 0px;
}
.e105_60 {
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  left: 64.3548355102539px;
  top: 0px;
}

.e2_28 {
  width: 75px;
  left: 141px;
}
.e103_20 {
  top: 390px;
}
.e1_52 {
  top: 396px;
}
.e1_54 {
  top: 427px;
}

.progress-outer {
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 10px !important;
}
.progress-inner {
  height: 100% !important;
  min-height: 10px !important;
  min-width: 0px !important;
  background-color: rgba(
    140.00000685453415,
    184.00000423192978,
    244.0000006556511,
    1
  );
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative !important;
  pointer-events: none;
  width: 80px;
  height: 80px;
  top: 405px;
  left: 36px;
}
.lds-ripple2 {
  width: 180px;
  height: 180px;
  top: 630px;
  left: 990px;
  pointer-events: none;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid
    rgb(127.00000002980232, 126.00000008940697, 217.0000022649765);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
tui-stepper {
  z-index: 1;
}
